pkgbase = minifetch-git
pkgdesc = Tiny, portable system-info fetch in C (builds from latest git)
pkgver = 0.r0.g0000000
pkgrel = 1
url = https://github.com/SATUNIX/minifetch
arch = x86_64
arch = aarch64
license = MIT
depends = glibc
makedepends = git
makedepends = make
makedepends = gcc
optdepends = pciutils: optional GPU info via lspci
optdepends = usbutils: optional USB info via lsusb
optdepends = procps-ng: uptime/meminfo helpers
provides = minifetch
conflicts = minifetch
source = git+https://github.com/SATUNIX/minifetch.git
sha256sums = SKIP
